{% extends 'task_quote/base.html' %} {% block content %}
<div class="row">
    <div class="col-md-8">
        {% for quote in task_quote %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text"> {{quote.quote}}</span>
            <span
            >by
        <small class="author" itemprop="author">{{quote.author}}</small>
                <!-- <a href="/author/{{quote.author}}">(about)</a> -->
        <a href="{% url 'task_quote:author_info' author_name=quote.author %}">(about)</a>
      </span>
            <div class="tags">
                Tags: {% for tag in quote.tags %}
                <a class="tag" href="/tag/{{tag}}">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a
                            class="{% if not task_quote.has_previous %} disabled {% endif %}"
                            href="{% if  task_quote.has_previous %} {% url 'task_quote:root_paginate' task_quote.previous_page_number  %} {% else %} # {% endif %}"
                    ><span aria-hidden="true">←</span> Previous</a
                    >
                </li>

                <li class="next">
                    <a
                            class="{% if not task_quote.has_next %} disabled {% endif %}"
                            href="{% if  task_quote.has_next %} {% url 'task_quote:root_paginate' task_quote.next_page_number  %} {% else %} # {% endif %}"
                    >Next <span aria-hidden="true">→</span></a
                    >
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}